<h1>Seus pedidos</h1>

<div>
  <% @orders.each do |order| %>
    <h3><%= order.product.name %></h3>
    <h4><%= order.product.user.name %></h5>
    <h4>R$ <%= order.product.price %></h4>
    <h4>Tempo estimado de entrega: <%= order.product.estimated_delivery %></h4>
  <% end %>
</div>
